name: GitHub build action

on:
  push:
    branches:
      - master
      - obs-websocket-4

jobs:
  deploy:
    name: Build and deploy GH pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout v4
        uses: actions/checkout@v3
        with:
          ref: obs-websocket-4
          path: v4

      - name: Checkout v5 (master)
        uses: actions/checkout@v3
        with:
          ref: master
          path: v5

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '17'

      - name: Build v4
        run: cd v4 && npm i && npm run build

      - name: Build v5
        run: cd v5 && npm i && npm run build

      - name: Make a single folder with v4 and v5
        run: cp -r v5/public . && cp -r v4/public public/v4

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: obs-web.niek.tv
  docker:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          push: true # push to registry
          pull: true # always fetch the latest base images
          tags: ghcr.io/niek/obs-web:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}